*{
  margin: 0;
  padding: 0;
}

body {
  width: 300px;
}

.nav {
  padding: 10px 15px;

  background-color: #2d3037;
  color: #FFF;
}

.container {
  .auth-page {}

  .landing-page {}

  .profile-page {}
}