@import "base";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 300px;
}

.nav {
  color: #FFF;
  background-color: #2d3037;

  a {
    color: #FFF !important;
    padding: 5px;

    &.active,
    &:hover {
      color: #e28d23 !important;
    }
  }
}

.auth-page,
.landing-page,
.profile-page {
  padding: 10px 15px 20px;

  max-height: 400px;
  overflow-y: auto;
}

.auth-page {}

.landing-page {
  .landing-item {
    padding: 5px;
    margin: 10px 0;

    line-height: 30px;

    background-color: rgba(0, 0, 0, 0.1);

    h5 {
      margin: 0;
    }

    .count {
      padding: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

.profile-page {}